@font-face {
  font-family: blueOcean;
  src: url(/fonts/BLUE_OCEAN.ttf);
}

header {
  background-color: rgb(172, 98, 8);
}

img {
  box-shadow: 3px 3px 0.2em rgb(172, 98, 8), -0.3em 0 0.4em rgb(172, 98, 20);
  border-radius: 2px;
}

body {
  background-color: rgba(83, 82, 82, 0.383);
}
h1 {
  text-align: center;
  font-family: blueOcean, Arial, sans-serif;
  font-size: 6rem;
  color: rgb(207, 144, 26);
}

button {
  margin-top: 10px;
  outline: 2px solid rgb(244, 92, 26);
  background-color: rgb(207, 144, 26);
}

input {
  margin-top: 10px;
  outline: 2px solid rgb(244, 92, 26);
}

figcaption {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(118, 78, 4);
}

#artist-bio {
  font-weight: 500;
}

#popupContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: bisque;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 3px 3px 0.2em rgb(82, 82, 1), -0.3em 0 0.4em rgb(106, 106, 0);
  position: fixed;
  top: calc(10%);
  left: calc(50% - 200px);
  width: 400px;
  min-height: 400px;
  text-align: center;
  pointer-events: none;
}
#popupContainer div {
  margin: 0 auto;
  width: 75%;
}

#popupContainer img {
  width: 100%;
}

#popupContainer.hide {
  display: none;
}

.tracklist {
  width: 100%;
  list-style-position: outside;
  line-height: 1rem;
}

.justify-left {
  float: left;
}

.justify-right {
  float: right;
}
