@font-face {
  font-family: blueOcean;
  src: url(/fonts/BLUE_OCEAN.ttf);
}

img {
  box-shadow: 3px 3px 0.2em rgb(82, 82, 1), -0.3em 0 0.4em rgb(106, 106, 0);
  border-radius: 2px;
}

body {
  background-color: rgb(231, 227, 227);
}
h1 {
  text-align: center;
  font-family: blueOcean, Arial, sans-serif;
  font-size: 6rem;
  color: rgb(89, 132, 24);
}

button {
  margin-top: 10px;
  outline: 2px solid rgb(115, 169, 34);
  background-color: rgb(193, 238, 126);
}

input {
  outline: 2px solid rgb(115, 169, 34);
}

figcaption {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(89, 132, 24);
}

#artist-bio {
  font-weight: 500;
}

#popupContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: bisque;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 3px 3px 0.2em rgb(82, 82, 1), -0.3em 0 0.4em rgb(106, 106, 0);
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  min-height: 400px;
  text-align: center;
}
#popupContainer div {
  margin: 0 auto;
  width: 75%;
}

#popupContainer img {
  width: 100%;
}

#popupContainer.hide {
  display: none;
}
